<div style="padding : 50px">
    <p>
        <input placeholder=" Search..." type="text " ng-model="searchFor " size="30 ">
        <!--{{ searchFor }}-->
    </p>
    <h4> {{ albums.length }} albums </h4>

    <div class="album panel panel-primary "
         ng-repeat="album in albums | filter: {title: searchFor} | orderBy : 'date' ">

        <div class="panel-heading ">

            <a href="/index.html#/album/{{album.name}}">
                {{ album.title }}
            </a>
            <div style="float : right ">{{ album.date }}</div>

        </div>

        <div class="description ">
            {{album.description}}
        </div>
    </div>

    <div style="clear: left"></div>

    <h3> Add New Album</h3>

    <div class="album panel panel-default">
        <form name="new_album_form" novalidate>
            <div class="panel-heading">

                <div class="alert alert-danger" ng-show="new_album_error">{{ add_album_error }}
                </div>
                <span ng-show="new_album.title.$error">{{new_album.title.$error}}</span>
                <input type="text" placeholder="Title..." size="20" ng-model="new_album.title">

                <div style="float: right">
                    <input name="date" type="text" placeholder="yyyy-mm-dd" size="11"
                           ng-model="new_album.date">
                </div>
            </div>
            <div class="description">
                <p>
                    <span ng-show="new_album.description.$error">{{new_album.description.$error}}</span>
                    <textarea placeholder="Description..." size="20"
                              ng-model="new_album.description" rows="4"
                              style="width: 100%"></textarea>
                </p>
                <p>
                    <span ng-show="new_album.name.$error">{{new_album.name.$error}}</span>
                    <input type="text" name="name" ng-model="new_album.name"
                           placeholder="Short name for URL..." style="width: 100%" ng-minlength="6"
                           ng-maxlength="40"/>
                </p>
                <p>
                    <button ng-click="addAlbum(new_album)" type="button" class="btn btn-success">
                        Add New Album
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>