<a href="#/">Home</a>
<div>
    <h3>{{ album.title }}</h3>

    <div class="alert alert-danger" ng-show="load_error_text">{{ load_error_text }}</div>

    <!--<div class="photo thumbnail" style="250px; float: left; margin-right: 10px">-->
    <div class="album panel panel-default" style="width:inherit;" ng-repeat="photo in photos">
        <div class="panel-heading">
            <div class="alert alert-danger" ng-show="add_album_error">{{ add_album_error }}
            </div>
            <img data-ng-src="{{'albums/'+photo.album_name +'/photos/'+ photo.name}}"
                 alt={{photo.name}} width="200" height="200"/>
        </div>
        <div class="description">
            <p style="width: 200px;">{{ photo.description }}</p>
        </div>
        <!--</div>-->
    </div>


</div>

<div style="clear: left"></div>

<h4> Add New Photo</h4>

<div class="album panel panel-default">
    <form name="new_photo_form" novalidate>
        <div class="panel-heading">
            <div class="alert alert-danger" ng-show="new_photo_error">{{ new_photo_error }}</div>
            <input name="date" type="text" placeholder="yyyy-mm-dd" size="11"
                   style="float: right" ng-model="new_photo.date">

            <div style="overflow: hidden;">
                <input type="file" file-model="myFile" style="overflow: hidden"/>
            </div>
        </div>
        <div class="description">
            <p>
                <textarea placeholder="Description..." size="20" ng-model="new_photo.description"
                          rows="4" style="width: 100%"></textarea>
            </p>
            <p>
                <span ng-show="new_photo.name.$error">{{new_photo.name.$error}}</span>
                <input type="text" name="name" ng-model="new_photo.name"
                       placeholder="Name" style="width: 100%"/>
                <!--ng-minlength="6" ng-maxlength="40"/>-->
            </p>
            <p>
                <button ng-click="uploadImage(new_photo)" type="button" class="btn btn-success">Add
                    New Photo
                </button>
            </p>
        </div>
    </form>
</div>